* {
    padding: 0;
    margin: 0;
}

body {
    background-color: beige;
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

nav {
    width: 70%;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    background-color: blue;
}

nav li {
    padding-left: 1rem;
}

@media only screen and (max-width:600px) {
    nav {
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
    }

    nav ul {
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding-top: 0.5rem;
        background-color: green;
        margin: 0;
    }

    nav li {
        width: 100%;
        padding: 0.5rem 0;
        text-align: center;

    }

}

nav a {
    text-decoration: none;
    color: white;
}

main {
    width: 70%;
    align-items: center;
}

h1,
h2,
h3,
p {
    text-align: center;

}

footer {
    width: 70%;
    background-color: green;
}

.vorschau {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.vorschaucard {
    width: 23%;
    min-width: 200px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.vorschaucard:hover {
    background-color: yellow;
}

.vorschaucard img {
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.vorschautext {
    padding-left: 10px;
    padding-right: 10px;
}